@import "../mixins/typography";

.customer-quote {
  display: flex;
  border-left: 0;

  .quote-meta {
    $lt-divider-color: rgba(88, 88, 88, .25);
    min-width: 26%;
    padding: 10px $spacing-unit-md 10px 0;
    border-right: 1px solid $lt-divider-color;
  }

  .quote-attribution {
    $lt-color: #585858;
    display: block;
    margin-top: 10px;
    color: $lt-color;
    font-size: 20px;
    font-style: normal;
    line-height: 1.5;
  }

  .quote-attribution-title {
    display: block;
    font-size: 16px;
    line-height: (25 / 16);
  }

  .quote-body {
    padding: 10px 0 10px $spacing-unit-md;
  }

  .quote-text {
    @include accent-font-light;
    font-size: 20px;
    font-style: italic;

    @media (min-width: $screen-sm-min) {
      font-size: 28px;
    }
  }

  @media (max-width: $screen-xs-max) {
    flex-direction: column-reverse;

    .quote-meta {
      display: flex;
      padding-right: 0;
      border-right: 0;
    }

    .quote-media {
      margin-right: 10px;
    }

    .quote-body {
      padding-left: 0;
    }
  }
}

.customer-quote--stacked {
  flex-direction: column;

  .quote-body {
    padding: 0 0 25px;
  }

  .quote-text {
    $lt-color: #585858;
    @include font-weight-regular;
    color: $lt-color;
    font-family: $font-family-sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 1.5;
  }

  .quote-meta {
    display: flex;
    align-items: center;
    padding: 0;
    border-right: 0;
  }

  .quote-media {
    margin-right: 10px;
  }

  .quote-attribution {
    margin-top: 0;
  }
}
