.blog-category-nav#blog-category-nav
  %ul
    %li{class: ("menu-item-active" if current_page.url == "/blog/")}
      %a{href: "/blog"}
        All
    %li{class: ("menu-item-active" if current_page.url == "/blog/categories/releases/")}
      %a{href: "/blog/categories/releases"}
        releases
    %li{class: ("menu-item-active" if current_page.url == "/blog/categories/engineering/")}
      %a{href: "/blog/categories/engineering"}
        engineering
    %li{class: ("menu-item-active" if current_page.url == "/blog/categories/open-source/")}
      %a{href: "/blog/categories/open-source"}
        open source
    %li{class: ("menu-item-active" if current_page.url == "/blog/categories/culture/")}
      %a{href: "/blog/categories/culture"}
        culture
    %li{class: ("menu-item-active" if current_page.url == "/blog/categories/insights/")}
      %a{href: "/blog/categories/insights"}
        insights
    %li{class: ("menu-item-active" if current_page.url == "/blog/categories/company/")}
      %a{href: "/blog/categories/company"}
        company
